*{
	margin: 0;
	padding: 0;
}
body{
	display: flex;
	flex-direction: column;
	background: rgba(75, 162, 208, 0.49);
	align-items: center;
}
input{
	border-radius: 5px;
	border: 1px solid grey;
	font-family: Arial;
	font: 20px sans-serif;
}
#modal-window{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	background: rgba(0,0,0, 0.5);
	justify-content: center;
	align-items: center;
	display: flex;
}
.form{
	position: relative;
	min-width: 350px;
	width: 70%;
	background: #fffcdd;
	border-radius: 9px;

	display: flex;
	flex-direction: column;

	padding: 20px;
}
.map{
	margin: 5%;
}
#map{
	width:100%;
	height: 600px;
}
form div{
	margin: 10px 0;
}
textarea {
	width: 80%;
	height: 200px;
	resize: none;
}
.window{
	position: fixed;
	min-width: 350px;
	background: #fffcdd;
	border-radius: 9px;

	display: grid;
	justify-content: center;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
	margin-bottom: 1px;
	padding: 10px;
	grid-template-areas: "header header"
	"alert-error alert-error"
	"label-1 input-1"
	"label-2 input-2"
	"btn-1 btn-2";
}
.alert-error{
	grid-area:alert-error;
}
.login_header{
	grid-area:header;
	color: #434344;
	font-family: Arial;
	font: bold 24px sans-serif;
}
.header{
	color: #434344;
	font-family: Arial;
	font: bold 24px sans-serif;
	margin: 10px 0;
}
.login_header{
	grid-area:header;
	color: #434344;
	font-family: Arial;
	font: bold 24px sans-serif;
}
.label, .alert-error{
	color: #434344;
	font-family: Arial;
}
.alert-error{
	font-weight: bold;
}

.inpt{
	color: #434344;
	font-family: Arial;
	font: bold 16px sans-serif;
}
.label:nth-child(0){
	grid-area:label-1;
}
.label:nth-child(1){
	grid-area:label-2;
}
.login_input:nth-child(0){
	grid-area:input-1;
}
.login_input:nth-child(1){
	grid-area:input-2;
}
.auth_btn{
	grid-area:btn-1;
}
.reg_btn{
	grid-area:btn-2;
}
.login_input,.login_header{
	justify-self: center;
}
.btn{
	height: 40px;

	padding: 0 10px;

	border: none;
	border-radius: 9px;
	box-shadow: 1px 1px 1px rgba(0,0,0, 0.5);
	cursor: pointer;
	background-image: linear-gradient(-90deg, #22AB93, #19668D);

	color: white;
	font-family: Arial;
	font: bold 18px sans-serif;
}
.reg_btn{
	background-image: linear-gradient(-90deg, #19668D, #ff8271);
}
.btn:active{
	outline: none;
	box-shadow: inset 2px 1px 8px rgba(0,0,0, 0.5) !important;
}
.fixed-nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 50px;
	background-color: #19668D;
	overflow: hidden;
}

.fixed-nav-bar a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: Arial;
	font: bold 18px sans-serif;
}

.fixed-nav-bar a:hover {
	background-color: #ddd;
	color: black;
}

.fixed-nav-bar a.active {
	background-color: #ff8271;
	color: white;
}