<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="../static/css/styles.css">
</head>
<body>
<div th:replace="fragments/htmlFragments::top-navigation-panel"></div>
<div class="header">Администрирование</div>
</body>
</html>