<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новое обращение</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="../static/css/styles.css">
</head>
<body onload="setCoord();">
<div th:replace="fragments/htmlFragments::top-navigation-panel"></div>
<div id="modal-window">
    <form name="f" th:action="@{/appeal_form}" th:object="${appealForm}" method="post" class="form">

        <div><p class="header" th:text="'Обращение № ' + ${appealForm.appealId}"/></div>
        <div>
            <label for="category" class="label">Категория обращения</label>
            <select id="category" th:field="*{category}"></select></div>
        <div>
            <label for="description" class="label">Краткое описание проблемы</label>
            <textarea name="text" id="description" th:field="*{description}"></textarea></div>
        <div>
            <label for="imgPath" class="label">Добавить фото</label>
            <input name="userfile" type="file" accept=".jpg, .jpeg, .png" id="imgPath" th:field="*{imgPath}"/>
        </div>
        <div>
            <label for="address" class="label">Адрес обращения</label>
            <input type="text" id="address" th:field="*{address}"></div>
		<div style="display: none">
			<label for="coords" class="label">Координаты обращения</label>
			<input type="text" id="coords" th:field="*{coords}"></div>
        <div>
            <button type="submit" class="btn auth_btn">Отправить</button>
            <input class="btn reg_btn" type="button" onclick="window.location.href ='/map'" value="Назад"/>
        </div>
    </form>
</div>
<script th:src="@{/js/form.js}" src="../static/js/form.js"></script>
<script type="text/javascript">setCategory();</script>
</body>
</html>