<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый чат</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="../static/css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
<div th:replace="fragments/htmlFragments::top-navigation-panel"></div>
<div id="modal-window">

    <div id="chat-container">

        <ul id="messageArea">
        </ul>

        <form id="messageForm" name="f" th:object="${chatForm}" class="form">
            <div style="display: none;">
                <p id="sender_id" th:text="${chatForm.senderId}"></p>
                <p id="recipient_id" th:text="${chatForm.recipientId}"></p>
                <p id="sender_name" th:text="${chatForm.senderName}"></p>
                <p id="recipient_name" th:text="${chatForm.recipientName}"></p>
            </div>

            <div><p class="header" th:text="'Начните чат с ' + ${chatForm.recipientName}"/></div>
            <div>
                <label for="message" class="label">Ввведите сообщение</label>
            </div>
            <div>
                <input type="text" id="message" autocomplete="off"
                       placeholder="Type a message..."/>
            </div>
            <div>
                <button type="submit" class="btn auth_btn">Отправить</button>
                <input class="btn reg_btn" type="button" onclick="window.location.href ='/map'" value="Назад"/>
                <p id="response"></p>
            </div>
        </form>
    </div>

</div>
<script th:src="@{/js/form.js}" src="../static/js/form.js"></script>
<script type="text/javascript">setChat();</script>
</body>
</html>