<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход в систему</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"  href="../static/css/styles.css">
</head>
<body>
<div th:replace="fragments/htmlFragments::top-navigation-panel"></div>
<div id="modal-window">
    <form name="f" th:action="@{/login}" method="post" class="window">
        <p class="login_header">Вход в систему</p>
        <div th:if="${param.error}" class="alert alert-error">
            Неверное имя пользователя или пароль.
        </div>
        <!-- <div th:if="${param.logout}" class="alert alert-success">
            You have been logged out.
        </div> -->
        <label for="username" class="label">Имя пользователя</label>
        <input type="text" id="username" name="username" class="inpt"/>
        <label for="password" class="label">Пароль</label>
        <input type="password" id="password" name="password" class="inpt"/>
        <button type="submit" class="btn auth_btn">Авторизация</button>
        <input class="btn reg_btn" type="button" onclick="window.location.href ='/registration'" value="Регистрация"/>
    </form>
</div>
</body>
</html>