<!DOCTYPE html>
<html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<title>Карта обращений</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}"  href="../static/css/styles.css">
	<script src="https://api-maps.yandex.ru/2.1/?apikey=e628ff62-8681-4deb-9374-b07e960f8fb0&lang=ru_RU" type="text/javascript"></script>
	<script src="https://yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
</head>
<body>
<div th:replace="fragments/htmlFragments::top-navigation-panel"></div>
<div class ="form map">
	<header class="header">Карта обращений пользователей</header>
	<div id="map"></div>
</div>
<script th:src="@{/js/main.js}" src="../static/js/main.js"></script>
</body>
</html>