<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"  href="../static/css/styles.css">
</head>
<body>
<div th:replace="fragments/htmlFragments::top-navigation-panel"></div>
<div id="modal-window">
    <form th:action="@{/registration}" th:object="${userForm}" method="post" class="window">
        <p class="login_header">Регистрация в системе</p>
<!--        <span th:text="${passwordError}"></span>-->

        <label for="username" class="label">Имя пользователя</label>
        <input type="text" id="username" th:field="*{username}" class="inpt"/>
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="alert-error">Name Error</p>

        <label for="password" class="label">Пароль</label>
        <input type="password" id="password" th:field="*{password}"  class="inpt"/>

        <label for="passwordConfirm" class="label">Повторите пароль</label>
        <input type="password" id="passwordConfirm" th:field="*{passwordConfirm}" class="inpt"/>
        <p th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" class="alert-error">passwordConfirm Error</p>

        <button type="submit" class="btn">Зарегестрироваться</button>
        <input class="btn" type="button" onclick="window.location.href ='/'" value="Отмена"/>

    </form>
</div>
</body>
</html>